<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div>
		<form th:action=@{/student/search}  method="GET">
			<input type="text" name="msv" placeholder="Nhập mã sinh viên"/>
			<input type="submit" name="Search by student code" value="search by student code" >
		</form>
		
	</div>
	</br>
	</br>
	</br>
	</br>
	<div>
		<h1>Danh sách sinh viên</h1>
		<table cellspacing="8" border="1px">
			<tr>
				<th>Mã sinh viên</th>
				<th>Họ và tên</th>
				<th>Tên lớp</th>
				<th>Số chứng minh thư</th>
				<th>Quê quán</th>
				<th>Phòng ở</th>
				<th></th>
			</tr>
			<tr th:each="student: ${students}" >		
  					<td align="right"><span th:text="${student.studentCode}"></span></td>
					<td align="right"><span th:text="${student.name}"></span></td>
					<td align="right"><span th:text="${student.className}"></span></td>
					<td align="right"><span th:text="${student.cmt}"></span></td>
					<td align="right"><span th:text="${student.homeTown}"></span></td>
					<td align="right"><span th:text="${student.room.roomNumber}"></span></td>
					<td><a th:href="@{student/edit(id=${student.id})}">Edit</a>
					&nbsp;&nbsp;&nbsp;&nbsp; 
					<a th:href="@{/student/delete(id=${student.id})}">Delete</a></td>
			</tr>
		</table>
	</div>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
	<div>
		<a th:href="@{/student/add}"> <button>Add Student</button></a></td>
	</div>
</body>
</html>