<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html>
<head>
<title>Official Signup Form Flat Responsive widget Template :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Official Signup Form Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- fonts -->
<link href="//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
<!-- /fonts -->
<!-- css -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="/css/style1.css" rel='stylesheet' type='text/css' media="all" />
<!-- /css -->
</head>
<body>
<h1 class="w3ls">Thống kê Sinh Viên</h1>
<div class="content-w3ls">
<div >
	<table class="table table-bordered">
	<thead>
	<th scope="col">stt</th>
	<th scope="col">Mã Sinh Viên</th>
	<th scope="col">Chứng Minh Thư</th>
	<th scope="col">Ngày Sinh</th>
	<th scope="col">Quê Quán</th>
	<th scope="col"><a href="#">Thêm Sinh Viên</a></th>
	</thead>
	<tbody>
	
	<tr>
	<form action="" >
	<th scope="row">1</th>
	<td>B17DCCN204</td>
	<td>036099008339</td>
	<td>11/3/1999</td>
	<td>NAM Định</td>
	<td><a href="#">Sửa</a></td>
	<td><input type="submit" class="color-submit" value="Chi Tiết" name="btnsv"></td>
	<td><input type="submit" class="color-submit" value="Xóa" name="btnsv"></td>
	</form>
	</tr>
	
	<tr>
	<form action="" method="" >
	<th scope="row">1</th>
	<td>B17DCCN264</td>
	<td>036099008339</td>
	<td>11/3/1999</td>
	<td>NAM Định</td>
	<td><a href="#">Sửa</a></td>
	<td><input type="submit" class="color-submit"  value="Chi Tiết" name="btnsv"></td>
	<td><input type="submit" class="color-submit" value="Xóa" name="btnsv"></td>
	</form>
	</tr>
	
	<!-- tự thêm dữ liệu  --> 
	
	</tbody>
	</table>
	</div>
	<div class="clear"></div>
</div>
<p class="copyright w3l">© 2017 Official Signup Form. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">W3layouts</a></p>
</body>
</html>